body {
    background-color: black;
}

img {
    
}
button {
    background-color: #000000;
    padding: 1px 1px;
    border: none;
}
p {
    color: white;
}
iframe {
    display: none;
    margin-left: 130px;
}