.wrapper {
  max-width:700px;
  margin: 0 auto;
}


.chat {
  margin: 0;
}

h1 {
  text-align: center;
}
p.desc {
  text-align: center;
}

input {
  border:1px solid black;
  border-bottom: 1px solid black !important;
  padding:20px;
  margin-bottom: 10px;
}

input[type=submit] {
  background:#D12028;
  color:white;
  width: 15%;
  float:left;
}

#nameInput {
  width:20%;
  float:left;
}

#messageInput {
  width:65%;
  border-left: 0;
  border-right: 0;
  float:left;
}

.messages {
  max-height:500px;
  overflow:scroll;
  background: #4e4e4e;
  padding:20px;
  position: relative;
  list-style-type: none;
}

.messagesWrap {
  position: relative;
  min-height: 100px;
}


.messages li {
  border-bottom:1px solid #ccc;
  padding-bottom: 10px;
  margin:10px 0;
  color: #FFFFFF;
}


.messages strong {
  margin-right: 10px;
  color:#22FF1F;
}
